streamlit==1.35.0

langchain==0.2.6
langchain-core==0.2.10
langchain-community==0.2.6

langchain-google-genai==1.0.7
langchain-groq==0.1.5

faiss-cpu==1.7.4.post2
pypdf==4.2.0
python-dotenv==1.0.1
google-generativeai==0.5.4
tqdm==4.66.4
pillow==10.3.0
