streamlit
langchain_community
python-dotenv
streamlit==1.35.0
langchain==0.1.20
langchain-community==0.0.38
langchain-core==0.1.52
langchain-google-genai
langchain-groq
faiss-cpu
pypdf
python-dotenv
tqdm
google-generativeai
groq
PyPDF2
